!!!
//html(lang='#{lang}', dir='#{lang_dir}')
html(lang='#{lang}')
  head
    - if (!name)
      - var name= 'undefined'
    title= name
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    link(rel='stylesheet', href='/css/main.css')
    script(src='/lib/head.min.js')
  body
    script(type='text/javascript')
      head.js(
        "/js/vendor.js",
        "/js/utils.js",
        "/js/templates.js",
        "/socket.io/socket.io.js",
        "/socket.io/backbone.io.js",
        "/js/vendor_others.js",
        "/js/models.js",
        "/js/views.js",
        "/js/main.js",
        "/js/widgets.js"
      );
    - if (everyauth.user)
      script.
        // We use this instead of a plain assignment to cope if someone puts
        // funny stuff in their login. Like, " and '.
        window.UserLogin = !{JSON.stringify(everyauth.user.login)};
    - else
      script.
        window.UserLogin = null;
    #Panel

    #content
      block content
    .delete-drop.connected-sortable(style='display:none;')
      .message.no-sort
        h1 DROP ME

