.row
  .span3.bs-docs-sidebar
    ul.nav.nav-list.bs-docs-sidenav
      each v, k in config
        li
          a(href='#' + k)
            i.icon-cheveron-right
            span= k
      .form-actions.well(style='margin: 0;')
        a.btn.btn-primary.save_conf(href="#")= i18n.gettext('Save')
        a.btn.delete_conf(href="#")= i18n.gettext('Cancel')
  .span9.well
    form.form-horizontal
      each v, k in config
          .page-header
            a(id=k, class='anchor-offset')
            h1= v['Info']['name']
            h2= v['Info']['description']
           each v0, k0 in v
             - if (typeof(v0) != 'string' && k0 != 'Info') {
               h3= k0
               each v1, k1 in v0
                 - if (k1 != 'Info') {
                   - var label=  k+'.'+k0+'.'+k1
                   - var value= v1
                   .control-group
                     label.control-label(for=label)= k1 + ':'
                     .controls
                       input.span5(id=label, type='text', name=label, placeholder=label, value=value)
                       - if (v1 != defaults[k][k0][k1]) {
                         button.set_default.btn.btn-primary(name=label)= i18n.gettext('Default')
                       -}
                 - }
             - }
