#configure
  #menu
    .listHeader
        ul.nav.nav-list(data-bind="foreach: config")
          <!-- ko if: $index() === 0 -->
          <!-- ko foreach: { data: Object.keys($data) } -->
          <!-- ko if: ($data !== "__kb" && $data !== "model" && $data !== "Search" && $data !== "type") -->
          li
            a(data-bind=" attr: { href: '#' + $data }")
              i.icon-cheveron-right
              span(data-bind="text: $data")
          <!-- /ko -->
          <!-- /ko -->
          <!-- /ko -->
          .form-actions
            a.btn.btn-primary.save_conf(data-bind="click: $root.save" )= i18n.gettext('Save')
            a.btn.delete_conf(data-bind="click: $root.cancel")= i18n.gettext('Cancel')
  #info
    .scrollable
      form.form-horizontal
        .page-header(data-bind="foreach: config")
          <!-- ko if: $index() === 0 -->
          <!-- ko foreach: { data: Object.keys($data) } -->

          <!-- ko if: ($data !== "__kb" && $data !== "model" && $data !== "Search" && $data !== "type") -->
          a(data-bind="attr: { id: $data }")

          <!-- ko with: $parents[1]['config']()[2]['properties']()[$data] -->
          h1(data-bind="text: title")
          h2(data-bind="text: description")

          <!-- ko foreach: { data: Object.keys(properties) } -->
          h3(data-bind="text: $parent['properties'][$data]['title']")
          p(data-bind="text: $parent['properties'][$data]['description']")

          <!-- ko foreach: { data: Object.keys($parent['properties'][$data]['properties']) } -->
          - var label = "$parents[2]+'.'+$parent+'.'+$data"
          - var title = "$parents[1]['properties'][$parent]['properties'][$data]['title']"
          - var description = "$parents[1]['properties'][$parent]['properties'][$data]['description']"
          - var default_value = "$parents[4]['config']()[0][$parents[2]]()[$parent][$data]"
          - var value = "$parents[4]['config']()[1][$parents[2]]()[$parent][$data]"
          - var label_bind = "text: " + title + ", attr: { for: "+ label  +" }"
          - var input_bind = "attr: { id: " + label + " , type: 'text', name: " + label + ", placeholder: " + label + ", title: " + title + ", description: " + description + "}, value: " + default_value
          .control-group
            label.control-label(data-bind=label_bind)
            .controls
              input.span5(data-bind=input_bind)
              - var cond = "<!-- ko if : " + value + " !== " + default_value + " -->"
              !{cond}
              button.set_default.btn.btn-primary(name=label, data-bind="click: function(data, event) { $root.setDefault($parents[2], $parent, $data) }")= i18n.gettext('Default')
              <!-- /ko -->

          <!-- /ko -->

          <!-- /ko -->
          <!-- /ko -->

          <!-- /ko -->
          <!-- /ko -->

          <!-- /ko -->
