- var c = ''
- var add_size = 5
.row
  .span3.bs-docs-sidebar
    ul.nav.nav-list.bs-docs-sidenav.affix
      - var items = {Overview: 'overview', Main: 'config-main', Secondary: 'config-sec'}
      each v, k in items
        li
          a(href='#' + v,data-toggle="tab")
            i.icon-cheveron-right
            span= i18n.gettext(k)
      li
        .form-actions
          a.btn.btn-primary.save_conf(href="#")= i18n.gettext('Save')
          a.btn.delete_conf(href="#")= i18n.gettext('Cancel')
  .span9
    section#overview
      .page-header
        h1= i18n.gettext('Configure MBC Playout')
    section#config-main
     .page-header
       h1= i18n.gettext('Main configuration')
         small= i18n.gettext('the finest of the fine tuning')
       form.form-horizontal
         .control-group
           each v, k in config
             h1= k
               small= i18n.gettext('Configuration')
             each v0, k0 in v
               - if (typeof(v0) == 'string') {
                 - var label= k+'.'+k0
                 - var value= v0
                 - var size= v0.length+add_size
                 label.control-label(for=label)= label + ':'
                 .controls
                   input(id=c+label,type='text', name=c+label,placeholder=c+label, value=value, size=size)
               - } else {
                 h2= k0
                 each v1, k1 in v0
                   - var label=  k+'.'+k0+'.'+k1
                   - var value= v1
                   - var size= v1.length+add_size
                   label.control-label(for=label)= label + ':'
                   .controls
                     input(id=c+label,type='text', name=c+label,placeholder=c+label, value=value, size=size)
               - }
    section#config-sec
     .page-header
       h1= i18n.gettext('Clearly secondary')
         small= i18n.gettext('guru only')
