.logo
//#version-diff(style="display:none") 0
//#version-current(style="display:none") 2.2.1
//#version-latest(style="display:none") 2.2.1
//#version-link(style="display:none") http://airtime.sourcefabric.org
//#version-icon.uptodate
#master-panel
  .current-media
    .now-playing-block
    .show-block
  .streams-to-air-block
#jquery_jplayer_1.jp-jplayer(style="width:0px; height:0px;")
.time-info-block
ul#nav
        li.top.list-menu
          i#toggle-header.icon-resize-vertical.icon-white
        li.top.transcoding-menu
          a.top_link(href="/transcoding")
            i.icon-list.icon-white
            span=i18n.gettext('Incoming Medias')
        li.top.list-menu
          a.top_link(href="/media")
            i.icon-list.icon-white
            span=i18n.gettext('Browse Medias')
        li.top.edit-menu
          a.top_link(href="/media/edit")
            i.icon-edit.icon-white
            span= i18n.gettext('Edit Playlists')
        //li.top.add-menu
          a.top_link(href="/media/add")
            i.icon-plus.icon-white
            span= i18n.gettext('Add Medias')
        li.top.playout-menu
          a.top_link(href="/playout")
            i.icon-tasks.icon-white
            span= i18n.gettext('Playout')
        li.top.schedule-menu
          a.top_link(href="/schedule")
            i.icon-globe.icon-white
            span= i18n.gettext('Schedule')
        li.top.editor-menu
          a.top_link(href="/editor")
            i.icon-globe.icon-white
            span= i18n.gettext('Editor')
        li.top.conf-menu
          a.top_link(href="/admin")
            i.icon-wrench.icon-white
            span= i18n.gettext('Configure')
#Panel
  .personal-block.solo
    ul
      li
        span logged in as:
        span.name= UserLogin
        |
        a(href="/logout") logout
      li.dropdown
        a.dropdown-toggle(data-toggle="dropdown", href="#")
          i.icon-bell.icon-white
        span#mosto-messages-count(data-bind="text: Messages.count, attr: {class: Messages.countClass}")
        #mosto-messages.dropdown-menu
          .arrow-up
          h5= i18n.gettext('Mosto messages')
          div(style="text-align:center")
            label#all(data-bind="attr: {class: Messages.allClass}")
                input(type="radio", value="", data-bind="checked: Messages.radioValue")
                span= i18n.gettext('all')
            label#notifications(data-bind="attr: {class: Messages.notificationsClass}")
                input(type="radio", value="error", data-bind="checked: Messages.radioValue")
                span= i18n.gettext('notifications')
            label#errors(data-bind="attr: {class: Messages.errorsClass}")
                input(type="radio", value="notification", data-bind="checked: Messages.radioValue")
                span= i18n.gettext('errors')
          div.collection(data-bind='foreach: Messages.collection')
            div(data-bind='attr: {class: "mosto-message " + type()}')
              <!-- ko if: model().isNotification() -->
              a.remove(href="#", data-bind="click: function(vm,e){$root.Messages.remove(vm);e.stopPropagation()}")
                i.icon-remove
              <!-- /ko -->
              .time(data-bind='text: time')
              .title(data-bind='text: description')
              .message(data-bind='text: message')
          <!-- ko if: Messages.hasNotifications -->
          div.remove-all
            a(href="#", data-bind="click: function(vm,e){$root.Messages.removeAll();e.stopPropagation()}")= i18n.gettext('Remove all notifications')
          <!-- /ko -->
          <!-- ko ifnot: Messages.collection().length -->
          div.empty= i18n.gettext('no messages')
          <!-- /ko -->

