.logo
//#version-diff(style="display:none") 0
//#version-current(style="display:none") 2.2.1
//#version-latest(style="display:none") 2.2.1
//#version-link(style="display:none") http://airtime.sourcefabric.org
//#version-icon.uptodate
#master-panel
  .current-media
    .now-playing-block
    .show-block
  .streams-to-air-block
#jquery_jplayer_1.jp-jplayer(style="width:0px; height:0px;")
.time-info-block
.personal-block.solo
  //ul
    //li
      //span.name admin.
      //|
      //a(href="/Login/logout")Logout
ul#nav
        li.top.list-menu
          i#toggle-header.icon-resize-vertical.icon-white
        li.top.list-menu
          a.top_link(href="/media")
            i.icon-list.icon-white
            span=i18n.gettext('Browse Medias')
        li.top.edit-menu
          a.top_link(href="/media/edit")
            i.icon-edit.icon-white
            span= i18n.gettext('Edit Playlists')
        //li.top.add-menu
          a.top_link(href="/media/add")
            i.icon-plus.icon-white
            span= i18n.gettext('Add Medias')
        li.top.playout-menu
          a.top_link(href="/playout")
            i.icon-tasks.icon-white
            span= i18n.gettext('Playout')
        li.top.schedule-menu
          a.top_link(href="/schedule")
            i.icon-globe.icon-white
            span= i18n.gettext('Schedule')
        li.top.conf-menu
          a.top_link(href="/admin")
            i.icon-wrench.icon-white
            span= i18n.gettext('Configure')
        li.top#tmpMessages
          a.top_link(href="#")
            span= i18n.gettext('Tmp Messages')
          ul(data-bind='foreach: TmpMessages.messages')
            li
              p(data-bind='text: message')
        li.top#messages
          a.top_link(href="#")
            span= i18n.gettext('Messages')
          ul(data-bind='foreach: Messages.messages')
            li(data-bind="attr: { 'class': status }")
              p(data-bind='text: message')
