block header
  .navbar.navbar-inverse.navbar-fixed-top(style="z-index: 10;")
    div.navbar-inner
      div.container
        a.btn.btn-navbar.btn-collapse(data-toggle="collapse",data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") #{title}
        .nav-collapse.collapse
          ul.nav
            li.list-menu
              a(href="#media")
                i.icon-th-list.icon-white
                span=i18n.gettext('Browse Medias')
            li.search-menu
              a(href="#media/search")
                i.icon-search.icon-white
                span= i18n.gettext('Search Medias')
            li.add-menu
              a(href="#media/add")
                i.icon-edit.icon-white
                span= i18n.gettext('Add Medias')
            li.conf-menu
              a(href="#admin")
                i.icon-wrench.icon-white
                span= i18n.gettext('Configure')

          ul.nav.pull-right
            li.about-menu
              a(href="#about")= i18n.gettext('About')
            li.dropdown
              a.dropdown-toggle(href="#",data-toggle="dropdown")= i18n.gettext('Resources')
                b.caret
              ul.dropdown-menu
                li
                  a(href="http://documentcloud.github.com/backbone/",target="_blank")
                    span= i18n.gettext('Backbone.js')
                li
                  a(href="http://twitter.github.com/bootstrap/",target="_blank")
                    span= i18n.gettext('Twitter Bootstrap')
                li
                  a(href="http://nodejs.org/",target="_blank")
                    span= i18n.gettext('Node.js')
                li
                  a(href="http://expressjs.com/mongodb",target="_blank")
                    span= i18n.gettext('Express')
                li
                  a(href="http://www.mongodb.org/",target="_blank")
                    span= i18n.gettext('MongoDB')
                li.divider
                li.nav-header
                  span= i18n.gettext('This App')
                li
                  a(href="#",target="_blank")
                  span= i18n.gettext('GitHub Repository')
