- if(_id)
  - var picture= 'sc/' + _id + '.jpg'
- else
  - var picture= 'pics/generic.jpg'
- if(!file)
  - var file= i18n.gettext('Error')
- if (!file)
  -var title= file
td
  a.plain(href='#media/' + _id)
    img(src=picture, height="100",width="150",alt="")
td
  a.plain(href='#media/' + _id)
    legend=file
    .progress
      .bar(style="width: 60%;")
    .video
    .audio
td
  a.plain(href='#media/' + _id)
    span.label.label-success= i18n.gettext('Success')
td
  a.plain(href='#media/' + _id)
    span.label.label-important= i18n.gettext('Error')

h3.title= title
.button.complete
  .status
  .check &#10003;
  .text= i18n.gettext('Complete')
.button.delete= i18n.gettext('Delete')