- if(_id)
  - var picture= 'sc/' + _id.split('-')[0] + '.jpg'
- else
  - var picture= 'pics/generic.jpg'
- if(!stat.name)
  - var stat = {}
  - stat.name= file
- if (!name)
  - var name= stat.name
- if (!durationraw)
  - var durationraw= false
- if (!video.container)
  - video.container= false

td
  a.plain(href='#media/' + _id.split('-')[0])
    img(src=picture, height="100",width="150",alt="")
    br
    span.label.label-inverse.format
        i.icon-time.icon-white
        span= ' ' + durationraw
td
  a.plain(href='#media/' + _id.split('-')[0])
    h5=stat.name
    .progress
      .bar(style="width: 60%;")
    -if (video.container)
      span.label.label-inverse.format
        i.icon-file.icon-white
        span= ' ' + video.container
      span=' '
    span.label.label-inverse.video
      i.icon-film.icon-white
      span= ' ' + video.codec
    span=' '
    span.label.label-inverse.audio
      i.icon-volume-up.icon-white
      span= ' ' + audio.codec

td
  a.plain(href='#media/' + _id.split('-')[0])
    span.label.label-success= i18n.gettext('Success')
td
  a.plain(href='#media/' + _id.split('-')[0])
    span.label.label-important= i18n.gettext('Error')