- if(_id)
  - var picture= 'sc/' + _id + '.jpg'
- else
  - var picture= 'pics/generic.jpg'
- if(!file)
  - var file= i18n.gettext('Error')
- if (!file)
  - var title= file
- if (!duration)
  - var duration= false
- if (!format)
  - var format= false

td
  a.plain(href='#media/' + _id)
    img(src=picture, height="100",width="150",alt="")
td
  a.plain(href='#media/' + _id)
    h5=file
    .progress
      .bar(style="width: 60%;")
    - if (duration)
      span.label.label-inverse.format
        i.icon-time.icon-white
        span= ' ' + duration
      span=' '
    -if (format)
      span.label.label-inverse.format
        i.icon-file.icon-white
        span= ' ' + format
      span=' '
    span.label.label-inverse.video
      i.icon-film.icon-white
      span= ' ' + video
    span=' '
    span.label.label-inverse.audio
      i.icon-volume-up.icon-white
      span= ' ' + audio

td
  a.plain(href='#media/' + _id)
    span.label.label-success= i18n.gettext('Success')
td
  a.plain(href='#media/' + _id)
    span.label.label-important= i18n.gettext('Error')