- if(_id)
  - var picture= 'sc/' + _id.split('-')[0] + '.jpg'
- else
  - var _id = 'none'
  - var picture= 'pics/generic.jpg'
- if(!stat)
  - var stat = {}
  - stat.name= file
- if (!name)
  - var name= stat.name
- if (!durationraw)
  - var durationraw= false
- if (!video.container)
  - video.container= false

td
  a.plain(href='#media/' + _id.split('-')[0])
    img(src=picture, height="100",width="150",alt="")
td
    h5=stat.name

    .row(style="display:none;")
      .span2
        label(for="in-cut") IN:
        input#in-cut(type="text",style="border: 0; color: #f6931f; font-weight: bold;")
      .span2
        label(for="out-cut") OUT:
        input#out-cut(type="text",style="border: 0; color: #f6931f; font-weight: bold;")
    span.label.label-warning.format
        i.icon-time.icon-white
        span= ' ' + durationraw

    -if (video.container)
      span.label.format
        i.icon-file.icon-white
        span= ' ' + video.container
      span=' '
    span.label.video
      i.icon-film.icon-white
      span= ' ' + video.codec
    span=' '
    span.label.audio
      i.icon-volume-up.icon-white
      span= ' ' + audio.codec

td
  a.plain(href='#media/' + _id.split('-')[0])
    span.label.label-success= i18n.gettext('Success')
td
  a.plain(href='#media/' + _id.split('-')[0])
    span.label.label-important= i18n.gettext('Error')