- if (!_id)
  - var id= ''
- if (!description)
  - var description= 'lorem ipsum'
- if(!picture)
  - var picture= 'generic.jpg'

.row-fluid
  form.form-horizontal.span12
    fieldset
      legend Media Details
        br
        .row
          .span8
            .control-group
              label.control-label(for="mediaId") Id:
                .controls
                  input#mediaId(name="id",type="text",value=id,disabled)
            - var items = ["name", "audio", "viedo"]
            each item in items
              .control-group
                label.control-label(for='media' + item) #{item} :
                  .controls
                    input(id= 'media' + item, name=item,type="text",value=item)
                    span.help-inline
            .control-group
              label.control-label(for="description") Notes:
                .controls
                  textarea#description(name="description",style="width: 90%;",rows="6")
                    | #{description}
          .span4
            .well(style="width: 180px;text-align: center;width:50%;margin: 0px auto;")
              p
                img#picture(width="180",src='pics/' + picture)
              p(style="color:#999;")
                | To change the picture, drag a new picture from your file system onto the box above.

.form-actions
  a.btn.btn-primary.save(href="#") Save
  a.btn.delete(href="#") Delete

.row-fluid.status-bar
  .span12
    .alert.alert-success(style="display: none")
      b Success!
      | Media saved successfully
