block content
- if (!connectable)
  - var connectable = false
- if (!name)
  - var name = i18n.gettext('New Playlist');
- if (!fixed)
  - var fixed = false

.well#media-list
  - if (!fixed)
     button.close.kill-media-list(type='button', data-dismiss='alert') ×
  .editable-list-name(
        data-trigger= 'hover'
        data-placement= 'left'
        data-title= i18n.gettext ('Edit me !')
        data-content= i18n.gettext('Click here to edit Playlist Name.')
    )
    .fixed
      h1.list-name= name
    .edit(style='display:none;')
      input.input-block-level.input-list-name(type='text')

  #media-search

  .total-time-div
    h1.label.label-inverse.format
        i.icon-time.icon-white
        span= ' '
        span.total-time.label.label-inverse.format

  .table-container(style='overflow-x:scroll;')
    table.table.table-dark.table-bordered.table-striped.table-hover.table-condensed#table
          thead
            tr
              th= i18n.gettext('Thumbnail')
              th= i18n.gettext('Media info')
              th= i18n.gettext('Status')
              th= i18n.gettext('Availability')
          tbody.tbody#media-view(class='tbody' + connectable?' connected-sortable':'')

    table(style='display:none;')
      tbody
        tr#empty-alert.no-sort
              td
              td
                .alert.alert-block
                  button.close(type='button', data-dismiss='alert') ×
                  h4= i18n.gettext('Oops!')
                  p= i18n.gettext('It looks like you have no media to show here, start dragging media or go to the ')
                    a(href='/conf/')= i18n.gettext('Configuration')
              td
              td
