- if (_id)
  - var picture= 'sc/' + _id + '.jpg'
- if (!description)
  - var description= i18n.gettext('Notes about this media')
- if (!picture)
  - var picture= 'pics/generic.jpg'
- if (!file)
  - var file= ''
- if (!name)
  - var name= file
- if (audio_details)
  - var audio= audio_details
- if (video_details)
  - var video= video_details

- var duration_name= i18n.gettext('Duration')
- var format_name= i18n.gettext('Format')
.row-fluid
  form.form-horizontal.span12
    fieldset
      legend= i18n.gettext('Media Details')
      br
      .row
          .span12
            .control-group
              label.control-label(for="mediaName")= i18n.gettext('Name') + ': '
              .controls
                  input.input-block-level#mediaName(name="Name",type="text",value=name)
      .row
        .span6
          .control-group
            - var items = {md5: _id, 'File Name': file, Duration: duration, Format: format, Audio: audio, Video:video}
            each v, k in items
              - var Item = k.charAt(0).toUpperCase() + k.slice(1)

                label.control-label(for='media' + Item)= i18n.gettext(k) + ': '
                .controls
                    input.input-xxlarge(id= 'media' + Item, name=Item, type="text",value=v,disabled)
                    span.help-inline
          .control-group
              label.control-label(for="description")= i18n.gettext('Notes') + ': '
              .controls
                  textarea#description(name="description",style="width: 90%;",rows="6",placeholder=description)

        .span6
            .well.droparea.image-droparea(style="text-align: center;width:50%;margin: 0px auto;")
              p
                img#picture(width="150%",src=picture)
              - if (! _id)
                  .progress.progress-stripped
                    .bar(style="width: 0%;")
                  p(style="color:#999;")= i18n.gettext('To add media, drag a new file from your file system onto this box.')

    .form-actions
      a.btn.btn-primary.save(href="#")= i18n.gettext('Save')
      a.btn.delete(href="#")= i18n.gettext('Delete')

.row-fluid.status-bar
  .span12
    .alert.alert-success(style="display: none")
      b= i18n.gettext('Success!')
      span= i18n.gettext('Media saved successfully')
