block content
case type
    when 'playlist'
        - input_txt= i18n.gettext('Search Playlists')
    when 'media'
        - input_txt= i18n.gettext('Search Medias')
    default
        - input_txt= i18n.gettext('Search')

  .form-search
    .input-prepend
        button.btn(type="submit")
          i.icon-search
        input.input-large.search-query#media-search(
          type="text",
          data-provide="typeahead",
          data-items="4",
          placeholder= input_txt,
          data-bind="value: filter, valueUpdate: 'keyup'")
