- if (!_id)
  - var id= i18n.gettext('id is generated when media is found')
- if (!description)
  - var description= i18n.gettext('Notes about this media')
- if(!picture)
  - var picture= 'pics/generic.jpg'

.row-fluid
  form.form-horizontal.span12
    fieldset
      legend= i18n.gettext('Media Details')
      br
      .row
          .span4
            .control-group
              label.control-label(for="mediaName")= i18n.gettext('Name') + ': '
              .controls
                  input#mediaName(name="Name",type="text",value=name)
            - var items = ["id", "audio", "video"]
            each item in items
              - var Item = item.charAt(0).toUpperCase() + item.slice(1)
              .control-group
                label.control-label(for='media' + Item)= item + ': '
                .controls
                    input(id= 'media' + Item, name=Item,type="text",value=item,disabled)
                    span.help-inline
            .control-group
              label.control-label(for="description")= i18n.gettext('Notes') + ': '
              .controls
                  textarea#description(name="description",style="width: 90%;",rows="6",placeholder=description)

          .span8
            .well.droparea.image-droparea(style="text-align: center;width:50%;margin: 0px auto;")
              p
                img#picture(width="100%",src=picture)
                .progress.progress-stripped
                  .bar(style="width: 0%;")
              p(style="color:#999;")= i18n.gettext('To add media, drag a new file from your file system onto this box.')

    .form-actions
      a.btn.btn-primary.save(href="#")= i18n.gettext('Save')
      a.btn.delete(href="#")= i18n.gettext('Delete')

.row-fluid.status-bar
  .span12
    .alert.alert-success(style="display: none")
      b= i18n.gettext('Success!')
      span= i18n.gettext('Media saved successfully')
