block content
  br
  .row-fluid 
    .span12
      #playbar.span6
      #search.span6
  br
  table.table.table-dark.table-bordered.table-striped.table-hover.table-condensed#table
    thead
      tr
        th= i18n.gettext('Thumbnail')
        th= i18n.gettext('Media info')
        th= i18n.gettext('Status')
        th= i18n.gettext('Availability')
    tbody.tbody#media-view
      .alert.alert-block
        button.close(type='button', data-dismiss='alert') ×
        h4= i18n.gettext('Oops!')
        p= i18n.gettext('It looks like you have no media to show here, maybe go to the ')
          a(href='/conf/')= i18n.gettext('Configuration')
