block content
  .form-search
    .input-prepend
        button.btn(type="submit")
          i.icon-search
        input.span5.search-query#media-search(
          type="text",
          data-provide="typeahead",
          data-items="4",
          placeholder= i18n.gettext('Search Medias'),
          data-bind="value: filter, valueUpdate: 'keyup'")
