block content
- if (!name)
  - var name = i18n.gettext('Transcoding queue');

- var readonly = false;

- var file_name = i18n.gettext('Filename')
- var stage = i18n.gettext('Stage')
- var progress = i18n.gettext('Progress')
- var progress_dbind = '{attr: {style:"width: "+progress()+"%;" }}';

#media-list.infinit-panel
  .listHeader
    .fixed
      h1.list-name= name
    .alert.alert-transcode
      h4= i18n.gettext('Need to transcode videos ?')
      p=  i18n.gettext('Put them into your incomming directory to ingest.')
    .table-container
      table.table.table-bordered.table-striped.table-condensed#table
        thead
          tr
            th.file_name= file_name
            th.stage= stage

  .scrollable
    #processing-table
      .table-container
        table.table.table-bordered.table-striped.table-condensed#table
          tbody.tbody#media-view(data-bind='foreach: Working.collection', class='tbody')
            tr
              td.center
                  h5(data-bind="text: filename")
              td
                  h5(data-bind="text: stage")
                  ul.messages(data-bind="foreach: message")
                      li(data-bind="text: $data")

                  <!-- ko if: progress -->
                  .progressbar
                      .progress-song(data-bind=progress_dbind)
                  <!-- /ko -->

    #queued-table
      .table-container
        table.table.table-bordered.table-striped.table-condensed#table
          tbody.tbody#media-view(data-bind='foreach: Queued.collection', class='tbody')
            tr
              td.left
                  h5(data-bind="text: filename")
