- var inndbind = 'attr: {id: id }';
- if (draggable)
    - inndbind += ',drag: id, dragOptions: { zIndex: 900, cursorAt: { top: 5, left: 5 } } ';

block content
   .form-search
    .input-prepend
        button.btn(type="submit")
          i.icon-search
        input.search-query#media-search(
          type="text",
          data-provide="typeahead",
          data-items="4",
          placeholder= i18n.gettext('search playlists'),
          data-bind="value: filterUniverse, valueUpdate: 'keyup'")
  .total-time-div
      h1.label.label-inverse.format
          i.icon-time.icon-white
          span= ' '
          span.total-time.label.label-inverse.format
  .row-fluid
    ul#playlists.nav.nav-pills.nav-stacked(data-bind="foreach: playlists")
        li(data-bind=inndbind)
          .playlist-name.span4.well
                  h1(data-bind="text: name")
                  span.label.label-warning.format
                    i.icon-time.icon-white
                    span= ' '
                    span(data-bind="text: total_time")
